*{
    margin:20;
    padding:0;
    box-sizing: border-box;
}
p{
    line-height:2;
}
body{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#title{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:900;
    font-size: 40px;
    border-bottom: 2px solid black; /* thickness + color */


}
#challenge{
      text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:900;
    font-size: 25px;

}

.questions{
    text-align: center;
    font-size: 10
}
.date-box {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 3x;
  font-size: 16px;
    margin: 0 auto;
    display:block;
    width:500px;
    height:20
}